@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://www.infobae.com/new-resizer/uWCk1zHQjnJt1fsPpGM0a63mtnE=/768x432/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/BZCJ6MG5GBDFNM564H2NWB2WUI.jpg" alt="Img Dengue" />
    <p>Dengue</p>
    <p>
        Según datos de la Organización Panamericana de la Salud (OPS), en 2023, la región de las Américas experimentó el mayor número de casos de dengue desde que se tiene registro, con más de 4,5 millones de casos, incluyendo 7665 casos graves y 2363 muertes. Pero hasta el 25 de marzo de 2024, con poco más de 3 millones de casos de dengue reportados en lo que va del año, la región presenta otro número récord.
    </p>
    <p>
        “Esto es motivo de preocupación, ya que representa tres veces más casos que los reportados para esta misma fecha en 2023”, destacó el director de la OPS, Jarbas Barbosa, durante una rueda de prensa en la que participó Infobae. Allí, Barbosa comunicó que la gran mayoría de los casos se han notificado en Brasil (81%), seguido por Paraguay (6%), Argentina (3,4%), Perú (2,6%) y Colombia (2,2%), que concentran el 92% de los casos y el 87% de las muertes.
    </p>
</div>
